// Place all the styles related to the Fridges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#my_fridge {
  float: left;
  padding-right: 20px;

  table, th, td {
    border: 1px solid black;
  }
}

#ingredients_list {
  font-size: 11px;
  padding-top: 20px;

  td {
    font-size: 11px;
  }
}

#ingredients_list th, td {
  border-top: 1px solid black;
}

.middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

h2, a {
  color: #2140d5;
}

#suggest_recipe {
  font-weight: bold;
}